<div class="row center">
  <h1>Daily Dog</h1>
</div>
<div class="row" id="current_photo">
  <ul>
    <%= render "homepage/get_photo" %>
  </ul>
</div>

<div class="row center">
  <%= form_tag({ controller: :homepage, action: :get_photo }, remote: true) %>
  <%= submit_tag "Get a Dog Photo", :class => "waves-effect waves-light btn" %>
</div>
